#cv-form{
    /* display: none; */
}
#cv-template{
    display: none;
}
.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: rgb(214, 241, 241);
}
.aster{
    color: red;
    text-emphasis: 12px;
    text-decoration: solid;
    /* font-size: large; */
    font-weight: bold;
}
body{
    background-color: rgb(238, 194, 92);
}